@if (this.Request.IsAuthenticated) {
    <text>
        Bonjour, @(this.Html.ActionLink(this.User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Gérer" }))!
        @using (this.Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @(this.Html.AntiForgeryToken())
            <a href="javascript:document.getElementById('logoutForm').submit()">Se déconnecter</a>
        }
    </text>
} else {
    <ul>
        <li>@(this.Html.ActionLink(@Resources.Resources.LoginPartialLine1, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }))</li>
        <li>@(this.Html.ActionLink(@Resources.Resources.LoginPartialLine2, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }))</li>
    </ul>
}
