@model Tuto.Web.ViewModels.HelpRequest.ReportToDoViewModel
@{
    this.ViewBag.Page_Id = "Report";
    this.ViewBag.Title = "Report";
    this.Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page header -->
<div class="page-header">
	<h1><span class="awe-file"></span>@Resources.Resources.ViewHelpRequestReportHeader</h1>
</div>
 <!-- message form section -->
<div class="page-container">
    <div class="row-fluid">
        <article class="span4">
            @using (this.Html.BeginForm("report", "HelpRequest", FormMethod.Post, new { @id = "Report" }))
            {
                @(this.Html.Label("Message:"));
                @(this.Html.TextAreaFor(m => m.message, new
                  {
                      id = "txt_Message", style="width:560px; height:100px;"
                  }))
                @(this.Html.ValidationMessageFor(m => m.message))
                @(this.Html.HiddenFor(model => model.helpRequestId, new { id="hidden_helpRequestId" }))
                <button id="btn_submit_msg" class="btn btn-wuxia btn-small btn-primary" type="submit" >@Resources.Resources.ViewHelpRequestReportButton</button>
            }
        </article>
    </div>
</div>
