@model IEnumerable<Tuto.Web.ViewModels.HelpRequest.TutorHelpRequestListEntryViewModel>

@{
    this.ViewBag.Title = "Demandes de tutorat assignées";
}

<!-- Page header -->
<div class="page-header">
    <h1><span class="awe-tasks"></span>@Resources.Resources.ViewHelpRequestTutorListHeader</h1>
</div>
<!-- /Page header -->
<div class="page-container">
    <div class="row-fluid">
        <div class="control-group" align="right">
            <label class="control-label" for="select">@Resources.Resources.ViewFilter</label>
            <div class="controls">
                <select id="select" style="width:120px">
                    <option></option>
                    <option>À confirmer</option>
                    <option>Confirmé</option>
                    <option>Bilan à faire</option>
                    <option>Terminé</option>
                </select>
                <button class="btn" type="button">Go!</button>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>@Resources.Resources.DisplayHelpRequestState</th>
                    <th>@(this.Html.DisplayNameFor(x => x.createdTime))</th>
                    <th>@(this.Html.DisplayNameFor(x => x.expectedDate))</th>
                    <th>@(this.Html.DisplayNameFor(x => x.course))</th>
                    <th>@(this.Html.DisplayNameFor(x => x.place))</th>
                    <th>@(this.Html.DisplayNameFor(x => x.helpedFullname))</th>
                    <th>@Resources.Resources.ListEntryActions</th>
                    <th>@(this.Html.DisplayNameFor(x => x.reportIsEmpty))</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in this.Model)
                {
                    <tr @(item.tutorHasConfirmed ? this.Html.Raw("class= \"green\"") : this.Html.Raw("class= \"red\""))>
                    
                        <td>@item.getStateString()</td>
                        <td>@(this.Html.DisplayFor(modelItem => item.createdTime))</td>
                        <td>@(this.Html.DisplayFor(modelItem => item.expectedDate))</td>
                        <td>@(this.Html.DisplayFor(modelItem => item.course))</td>
                        <td>@(this.Html.DisplayFor(modelItem => item.place))</td>
                        <td>@(this.Html.DisplayFor(modelItem => item.helpedFullname))</td>
                        <td class="toolbar" style="text-align: center;">
                            <div class="btn-group">
                                @if (!item.tutorHasConfirmed)
                                {
                                    <button class="btn btn-primary" onclick=" location.href = '@(this.Url.Action("confirm", "HelpRequest", new { id=item.id }))' ">Confirmer</button>
                                    <button class="btn" onclick=" location.href = '@(this.Url.Action("refuse", "HelpRequest", new { id=item.id }))' ">Refuser</button>
                                }
                                <button class="btn" onclick=" location.href = '@(this.Url.Action("details", "HelpRequest", new { id=item.id }))' ">Détails</button>
                            </div>
                        </td>
                        <td class="toolbar" style="text-align: center;">
                            @if (item.getStateString().Equals(Resources.Resources.StateStringFinished))
                            {
                                @(item.reportIsEmpty ? this.Html.ActionLink(@Resources.Resources.HelpRequestRepportFillOut, "report", new {id = item.id}) : this.Html.Raw(@Resources.Resources.HelpRequestRepportFilledOut))
                            }
                            else
                            {
                                @(this.Html.Raw(@Resources.Resources.HelpRequestRepportNotAvailable))
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>