@using Tuto.DataLayer
@using Tuto.DataLayer.Models
@model ICollection<Tuto.Web.ViewModels.GroupSession.GroupSessionListViewModel>
@{
    this.ViewBag.Title = "Tutor_List";
    this.Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h1><span class="awe-group"></span> @GroupSessionTutorListResources.Title</h1>
</div>

<div class="page-container">
    <div class="row-fluid">

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @GroupSessionTutorListResources.GroupSessionDate
                    </th>
                    <th>
                        @GroupSessionTutorListResources.GroupSessionDay
                    </th>
                    <th>
                        @GroupSessionTutorListResources.GroupSessionFromTime
                    </th>
                    <th>
                        @GroupSessionTutorListResources.GroupSessionToTime
                    </th>
                    <th>
                        @GroupSessionTutorListResources.GroupSessionPlace
                    </th>
                    <th>
                        @GroupSessionTutorListResources.GroupSessionActions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in this.Model)
                {
                    <tr>
                        <td>
                            @item.groupSessionDate
                        </td> 
                        <td>
                            @item.weekDayStr
                        </td>
                        <td>
                            @item.startTime
                        </td>
                        <td>
                            @item.endTime
                        </td>
                        <td>
                            @item.place
                        </td>
                        <td style="text-align: center">
                            <div class="btn-group">
                                <button class="btn btn-primary" onclick=" location.href = '@(this.Url.Action("tutorRefuseGroupSession", new { id = item.id}))' ">@GroupSessionTutorListResources.GroupSessionRefuse</button>
                            </div>
                        </td> 
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>