@model Tuto.Web.ViewModels.Notifications.AssignedToHelpRequestTaskViewModel.TutorViewModel
@{
    this.Layout = "~/Views/Notifications/Templates/_TaskTemplate.cshtml";
    this.ViewBag.notificationId = this.Model.id;
}

<strong>Assignation à une séance de tutorat individuelle</strong><br />
Vous avez été assigné à une séance de tutorat individuelle le <strong>@(this.Model.individualSessionDatetime.ToString("yyyy/MM/dd"))</strong> de 
<strong>@(this.Model.individualSessionDatetime.ToString("HH"))h</strong> à <strong>@(this.Model.individualSessionDatetime.AddHours(2).ToString("HH"))h</strong> suite à 
une demande d'aide effectuée par <strong>@(this.Model.helpedFirstname) @(this.Model.helpedLastname)</strong>.
<br />
<em>@(this.Html.ActionLink("Voir les détails de cette demande", "details", "HelpRequest", new { id = this.Model.helpRequestId }, new {  })) ou confirmer votre présence pour cette séance de tutorat individuelle : </em>
<div class="btn-group">
    @(this.Html.ActionLink("Confirmer ma présence", "confirm", "HelpRequest", new { id = this.Model.helpRequestId }, new { @class = "btn btn-wuxia btn-mini btn-primary" }))
    @(this.Html.ActionLink("Refuser", "refuse", "HelpRequest", new { id = this.Model.helpRequestId }, new { @class = "btn btn-wuxia btn-mini" }))
</div>